<div class="container">
    <div class="divtitle">
        
        <h2 class="titulo">Proyectos</h2>

    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
    </div>
    <div class="create">
        <div class="dropdown">
            <button class="dropbtn">Carpetas</button>
            <div class="dropdown-content">
              <a href="#">Carpeta 1</a>
              <a href="#">Carpeta 2</a>
              <a href="#">Carpeta 3</a>
            </div>
        </div>
      <div class="divbotones">
        <button type="button" class="btn btn-success"><p class="text">Agregar Archivo</p></button>
        <button type="button" class="btn btn-success"><p class="text">Nuevo Proyecto</p></button>
      </div>
    </div>
    
</div>
