<div class="container my-4">
  <div class="row">
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-1"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-2"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>
</div>
