<div class="container my-4">
  <section>
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-1"
        id="html"
        rows="3"
      ></textarea>
    </div>
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-2"
        id="js"
        rows="3"
      ></textarea>
    </div>
    <div class="col px-0 code-container">
      <textarea
        class="form-control code-area image-3"
        id="css"
        rows="3"
      ></textarea>
    </div>
    <iframe srcdoc="<h1>Hola srcdo</h1>"></iframe>
  </section>
</div>
